body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4qr_JWAoEamUwensYc0U8cOwAgXuBFDabIQ&usqp=CAU);
	background-repeat: no-repeat;
	background-size: cover;
}

.head{
	text-align: center;
}

form{
	max-width: 660px;
	margin: auto;
	font-size: 1.5em;
	background-color: #000066;
	padding: 40px;
	border-radius: 10px;
	color: white;
}

p input{
	width: 100%;
	color: black;
}

#dropdown{
	width: 100%;
	color: black;
}

p textarea{
	width: 100%;
	color: black;
}

#submit{
	padding: 10px 0 10px;
	background-color: #00cc66;
	color: white;
	font-weight: bold;
}

label{
	padding-top: 10px;
}